<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link th:href="@{/css/tailwind.min.css}" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div
      class="min-h-screen w-full flex items-center justify-center bg-teal-100 font-sans"
    >
      <div class="bg-white rounded shadow p-6 m-4 w-full lg:w-3/4 lg:max-w-lg">
        <div class="mb-4">
          <h1 class="text-gray-900 text-4xl">Todo List</h1>
          <form action="/addtodo" method="get">
            <div class="flex mt-4">
              <input
                      class="focus:outline-none shadow appearance-none border rounded w-full py-2 px-3 mr-4 text-grey-darker"
                      placeholder="Add Todo"
                      name="message"
                      required="required"
              />
              <button
                      class="focus:outline-none flex-no-shrink p-2 border-2 rounded text-teal-500 border-teal-500 hover:text-white hover:bg-teal-500"
                      type="submit"
              >
                Add
              </button>
            </div>
          </form>
        </div>
        <div>
          <div class="flex mb-4 items-center" th:each="todo:${todolist}">
            <p class="w-full text-grey-darkest" th:text="${todo.message}">
            </p>
            <a
              class="focus:outline-none flex-no-shrink p-2 ml-2 border-2 rounded text-red-500 border-red-500 hover:text-white hover:bg-red-500"
              th:href="'/remove/'+${todo.todoid}"
            >
              Remove
            </a>
          </div>
        </div>
        <div class="pt-6">
          <a
                  class="focus:outline-none flex-no-shrink p-2 ml-2 border-2 rounded text-blue-500 border-blue-500 hover:text-white hover:bg-blue-500"
                  href="/logout"
          >
            Logout
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
